[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
markdownify = "*"
PyPDF2 = "*"
python-decouple = "*"
python-memcached = "*"
scrapy = "*"
scrapy-memcached-cache = "*"
pytz = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
pytest = "*"
pytest-mock = "*"
