[
    {
        "name": "Penal Econômico",
        "keywords": ["corrupção", "lavagem de dinheiro", "7.492", "7492", "9613", "9.613", "12846", "12.846", "8429", "8.429", "4.737", "4737", " 4.737", "anticorrupção", "improbidade", "contra administração pública", "contra o sistema financeiro", "contra o sistema tributário", "crime financeiro", "lavagem de dinheiro", "lavagem de capitais", "Corrupção eleitoral"],
        "exclude": ["Corrupção de menores"]
    },
    {
        "name": "Crianças e Adolescentes",
        "keywords": ["Redução da maioridade", "maioridade penal", "período de internação", "Penalmente inimputável", " Penalmente inimputáveis", "socioeducativo", "8069", "8.069", "12594", "12.594", "228", "corrupção de menores", "Art. 228 da Constituição Federal", "Art. 227 da Constituição Federal", "sinase"]
    },
    {
        "name": "Internet",
        "keywords": ["Fakenews", "Misinformation", "Marco Civil", "invasão de computadores", "12737", "12.737", "cyberbullying", "direito ao esquecimento",  "delitos informáticos", "crimes digitais", "crime digital", "12965", "12.965", "remoção de conteúdo", "retirada de conteúdo"],
        "combined_keywords": [["rede social", "crime"], ["rede social", "pena"], ["internet", "crime"], ["internet", "pena"]]
    }
]
